.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity ease-in 0.2s;
}

.active {
  opacity: 1;
}

.header .header-logo {
  object-fit: contain;
  width: 100px;
  height: 50px;
}

.header .header-avatar {
  object-fit: contain;
  width: 100px;
  height: 40px;
}
